<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Will Hopkins | Dashboard | Listen</title>
		<%- include('../partials/head') %>
	</head>

	<body class="dashboard">
		<%- include('../partials/aside') %>
		<script>
			document.querySelector( 'aside .middle ul li:nth-child(3) a' )
				.classList.add( 'active' );
		</script>
		<main id="listen" data-dashboard>
			<h1 class="secondary-header">Videos</h1>
			<a class="btn btn-primary add-new-btn" href="/dashboard/listen/new">Add New</a>
			<table class="primary-table">
				<colgroup>
					<col />
					<col />
					<col />
					<col class="icon" />
					<col class="icon" />
				</colgroup>
				<tr>
					<th>Title</th>
					<th>Date</th>
					<th class="box">Video</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>

				<% for (let i = 0; i < videos.length; i++) { %>
				<% const body = JSON.parse(videos[i].body) %>
				<!--  -->

				<tr data-video-id="<%= videos[i]._id %>">
					<td><%- body.title %></td>
					<td><%= videos[i].date.toDateString() %></td>
					<td class="box no-padding">
						<iframe src="" frameborder="0"></iframe>
						<script type="module">
							import {
								getYouTubeVideoId
							} from '../js/utils.js';
							const videoId = getYouTubeVideoId( '<%= body.url %>' );
							document.querySelector( `[data-video-id="<%= videos[i]._id %>"] td iframe` )
								.src = `https://www.youtube.com/embed/${videoId}`;
						</script>
					</td>
					<td>
						<a href="/dashboard/listen/<%= videos[i]._id %>/edit" class="icon">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
					</td>
					<td>
						<form data-method="delete" action="/dashboard/listen/<%= videos[i]._id %>/delete" class="handle-form-submission" name="event">
							<button type="submit" class="icon">
								<i class="fa-solid fa-trash"></i>
							</button>
						</form>
					</td>
				</tr>
				<% } %>
			</table>
		</main>
	</body>

</html>