<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Will Hopkins | Dashboard | Works</title>
		<%- include('../partials/head') %>
	</head>

	<body class="dashboard">
		<%- include('../partials/aside') %>
		<script>
			document.querySelector( 'aside .middle ul li:nth-child(4) a' )
				.classList.add( 'active' );
		</script>
		<main id="works" data-dashboard>
			<h1 class="secondary-header">Works</h1>
			<a class="btn btn-primary add-new-btn" href="/dashboard/works/new">Add New</a>
			<table class="primary-table">
				<colgroup>
					<col />
					<col />
					<col class="icon" />
					<col class="icon" />
				</colgroup>
				<tr>
					<th>Title</th>
					<th>Date</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>

				<% for( let i = 0; i < works.length; i++ ) { %>
				<tr data-work-id="<%= works[i]._id %>">
					<td>
						<%= JSON.parse(works[i].body).title %>
					</td>
					<td><%= works[i].date.toDateString() %></td>
					<td>
						<a href="/dashboard/works/<%= works[i]._id %>/edit" class="icon">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
					</td>
					<td>
						<form data-method="delete" action="/dashboard/works/<%= works[i]._id %>/delete" class="handle-form-submission" name="work">
							<button type="submit" class="icon">
								<i class="fa-solid fa-trash"></i>
							</button>
						</form>
					</td>
				</tr>
				<% } %>
			</table>
		</main>
	</body>

</html>