<%
const body = JSON.parse(docs[0].body);
const id = docs[0]._id;
const image = body.file.image.location;
const shortBioFile = body.file.shortBioFile.location;
const longBioFile = body.file.longBioFile.location;
const alt = body.file.alt;
const quote = body.quote;
const bio = body.bio;

%>

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Will Hopkins | Bio</title>
		<%- include('../partials/head') %>
	</head>

	<body>
		<%- include('../partials/nav') %>
		<main id="bio">
			<div class="block">
				<img src="<%= image %>" alt="<%= alt %>" />
				<blockquote><%- quote %></blockquote>
			</div>

			<div class="block content">
				<div>
					<span>
						<img src="<%= image %>" alt="<%= alt %>" />
						<blockquote><%- quote %></blockquote>
					</span>
					<div class="text"><%- bio %></div>
				</div>
				<div class="files">
					<ul role="list">
						<li><a href="<%= shortBioFile %>" target="_blank">short_bio.zip</a></li>
						<li><a href="<%= longBioFile %>" target="_blank">full_bio.zip</a></li>
					</ul>
				</div>
			</div>
		</main>

		<% if (data.length > 0) { %>
		<div class="mw-lg pd-sm">
			<hr class="light">
		</div>
		<% } %>

		<section id="works" data-cli>
			<div class="header"><%- JSON.parse(docs[1].body).repertoire %></div>
			<ul class="container">
				<% const tags = ["solo", "chamber", "ensemble", "orchestral", "electronic", "vocal", "choral", "opera", "dance", "theatre", "film", "installation", "other"]; %>
				<% for( let j = 0; j < tags.length; j++ ) { %>
				<% let itemsForTag = data.filter(item => JSON.parse(item.body).tag === tags[j]); %>
				<% if (itemsForTag.length > 0) { %>
				<h2 class="works-header text-2xl"><%= tags[j] %></h2>
				<% itemsForTag.forEach(item => { %>
				<li class="card">
					<div class="content">
						<div class="top">
							<h3 class="works-subheader">
								<%= JSON.parse(item.body).title %>
							</h3>
							<ul>
								<li>
									<%= JSON.parse(item.body).composer %>
								</li>
								<li>
									<%= JSON.parse(item.body).year %>
								</li>
							</ul>
						</div>
						<% if (JSON.parse(item.body).description) { %>
						<div class="main-text">
							<%- JSON.parse(item.body).description %>
						</div>
						<% } %>
					</div>
				</li>
				<% }); %>
				<% } %>
				<% } %>
			</ul>

		</section>
		<%- include('../partials/footer') %>
	</body>

</html>