<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Will Hopkins | Events</title>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>
  <main id="events" data-cli>
    <div class="container">
      <% for( let i = 0; i < events.length; i++ ) { %>

      <%
          // Variables
          const body = JSON.parse(events[i].body);
          const slug =  body.slug;
          const image = body.file.location;
          const alt = body.file.alt;
          const title = body.title;
          const date = body.date;
          const time = body.time;
          const location = body.location;
          const shortDescription = body.shortDescription;
        %>

      <div class="card">
        <a href="/event/<%= slug %>">
          <div class="image-container">
            <img src="<%= image %>" alt="<%= alt %>" />
          </div>
        </a>
        <div class="content">
          <h3 class="title">
            <a href="/event/<%= slug %>">
              <%= title %>
            </a>
          </h3>

          <% if (date) { %>
          <span class="date"><%= date.toLocaleString('en-US') %></span>
          <% } %>

          <% if (time) { %>
          <span class="time"><%= time %></span>
          <% } %>

          <% if (location) { %>
          <span><%= location %></span>
          <% } %>

          <% if (shortDescription) { %>
          <p><%- shortDescription %></p>
          <% } %>

        </div>
      </div>
      <% } %>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>

<script type="module">
  import {
    convertTime
  } from '../js/utils.js';
  import {
    formatDate
  } from '../js/utils.js';

  document.querySelectorAll('#events[data-cli] .card')
    .forEach(card => {
      // Convert time to 12 hour format
      let timeElement = card.querySelector('span.time');
      if (timeElement) {
        timeElement.innerText = convertTime(timeElement.innerText);
      }

      // Format date
      let dateElement = card.querySelector('span.date');
      if (dateElement) {
        dateElement.innerText = formatDate(dateElement.innerText);
      }
    });
</script>