<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Will Hopkins | Listen</title>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>
  <main id="listen" data-cli>
    <% for( let i = 0; i < videos.length; i++ ) { %> <% const body = JSON.parse(videos[i].body) %>
    <div class="card" data-video-id="<%= videos[i]._id %>">
      <h3 class="title"><%- body.title %></h3>
      <p class="description"><%- body.shortDescription %></p>
      <div><%- body.video %></div>
    </div>

    <% } %>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>