<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Will Hopkins | Repertoire</title>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>
  <main id="works" data-cli>
    <div class="header"><%- JSON.parse(repertoire.body).repertoire %></div>
    <ul class="container">
      <% for( let i = 0; i < works.length; i++ ) { %>

      <li class="card">
        <div class="content">
          <h3 class="third-header">
            <%= JSON.parse(works[i].body).title %>
          </h3>
          <ul>
            <li>
              <%= JSON.parse(works[i].body).composer %>
            </li>
            <li>
              <%= JSON.parse(works[i].body).year %>
            </li>
            <li>
              <%= JSON.parse(works[i].body).tag %>
            </li>
          </ul>
          <div class="main-text">
            <%- JSON.parse(works[i].body).description %>
          </div>
      </li>
      <% } %>
      </div>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>