<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Will Hopkins | Events</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <script>
      document
        .querySelector('nav ul li:nth-child(2) a')
        .classList.add('active');
    </script>
    <main id="event">
      <div class="banner">
        <div class="image-container"></div>
      </div>
      <div class="header">
        <h1 class="event-header"><%= JSON.parse(event.json).title %></h1>
        <span class="date"><%= JSON.parse(event.json).date %></span>
        <span class="time"><%= JSON.parse(event.json).time %></span>
        <span class="location"><%= JSON.parse(event.json).location %></span>
      </div>
      <div class="content"><%- JSON.parse(event.json).longDescription %></div>
    </main>
    <%- include('partials/footer') %>
  </body>

  <script></script>
</html>

<script type="module">
  import { convertTime } from '../js/utils.js';
  import { formatDate } from '../js/utils.js';

  // Convert time to 12 hour format
  document.querySelector('span.time').innerText = convertTime(
    document.querySelector('span.time').innerText
  );

  // Format date
  document.querySelector('span.date').innerText = formatDate(
    document.querySelector('span.date').innerText
  );
</script>
