<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Will Hopkins | Events</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <script>
      document
        .querySelector('nav ul li:nth-child(2) a')
        .classList.add('active');
    </script>
    <main
      id="events"
      data-cli>
      <div class="container">
        <% for( let i = 0; i < events.length; i++ ) { %>

        <div class="card">
          <a href="/event/<%= JSON.parse(events[i].json).slug %>">
            <div class="image-container"></div>
          </a>
          <div class="content">
            <h3 class="title">
              <a href="/event/<%= JSON.parse(events[i].json).slug %>">
                <%= JSON.parse(events[i].json).title %>
              </a>
            </h3>
            <span class="date">
              <%= JSON.parse(events[i].json).date.toLocaleString('en-US') %>
            </span>
            <span class="time"><%= JSON.parse(events[i].json).time %></span>

            <span class="location">
              <%= JSON.parse(events[i].json).location %>
            </span>
            <p><%- JSON.parse(events[i].json).shortDescription %></p>
          </div>
        </div>
        <% } %>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>

<script type="module">
  import { convertTime } from '../js/utils.js';
  import { formatDate } from '../js/utils.js';

  document.querySelectorAll('#events[data-cli] .card').forEach(card => {
    // Convert time to 12 hour format
    card.querySelector('span.time').innerText = convertTime(
      card.querySelector('span.time').innerText
    );

    // Format date
    card.querySelector('span.date').innerText = formatDate(
      card.querySelector('span.date').innerText
    );
  });
</script>
