<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Will Hopkins | Dashboard</title>
    <%- include('../partials/head') %>
  </head>
  <body class="cms">
    <%- include('partials/aside') %>
    <script>
      document
        .querySelector('aside ul li:nth-child(2) a')
        .classList.add('active');
    </script>
    <main id="dashboard-home">
      <h1 class="secondary-header">Welcome <%= name %></h1>

      <!-- Quote Form -->
      <%- include('partials/form', { metadata: { method: 'put', action:
      '/dashboard/quote/' + quote._id, id: quote._id }, fields: [ { name:
      'quote', value: JSON.parse(quote.json).quote }, { name: 'attribution',
      value: JSON.parse(quote.json).attribution } ] }) %>

      <!-- Intro Form -->
      <%- include('partials/form', { metadata: { method: 'put', action:
      '/dashboard/intro/' + intro._id, id: intro._id }, fields: [ { name:
      'intro', tag: 'textarea', value: JSON.parse(intro.json).intro } ] }) %>

      <!-- News Form -->
      <%- include('partials/form', { metadata: { method: 'put', action:
      '/dashboard/news/' + news._id, id: news._id }, fields: [ { name: 'news',
      tag: 'textarea', value: JSON.parse(news.json).news } ] }) %>
    </main>
  </body>
</html>
