<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Will Hopkins | Dashboard | Edit Event</title>
    <%- include('../../partials/head') %>
  </head>
  <body class="cms">
    <%- include('../partials/aside') %>
    <script>
      document
        .querySelector('aside .middle ul li:nth-child(1) a')
        .classList.add('active');
    </script>
    <main>
      <h1 class="secondary-header">Edit Event</h1>

      <a
        href="/event/<%= JSON.parse(event.json).slug %>"
        class="event-link"
        target="_blank">
        <%= JSON.parse(event.json).slug %>
        <i class="fa-solid fa-up-right-from-square"></i>
      </a>

      <form
        data-method="put"
        data-action="/dashboard/events/<%= event._id %>"
        data-id="<%= event._id %>"
        class="dashboard-form crud"
        enctype="multipart/form-data">
        <div class="item">
          <div class="subitem">
            <label for="title">Title</label>
            <input
              type="text"
              name="title"
              required
              value="<%= JSON.parse(event.json).title %>" />
            <input
              type="hidden"
              name="slug" />
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <label for="shortDescription">Short Description</label>
            <textarea
              id=""
              cols="30"
              rows="10"
              data-tinymce="shortDescription"
              name="shortDescription">
            <%= JSON.parse(event.json).shortDescription %></textarea
            >
            <script>
              tinymce.init({
                selector: 'textarea[data-tinymce="shortDescription"]',
                skin: 'oxide-dark',
                content_css: 'dark',
                height: 300,
              });
            </script>
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <label for="date">Date</label>
            <input
              type="date"
              name="date"
              value="<%= JSON.parse(event.json).date %>" />
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <label for="time">Time</label>
            <input
              type="time"
              name="time"
              value="<%= JSON.parse(event.json).time %>" />
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <label for="url">URL</label>
            <input
              type="url"
              name="url"
              value="<%= JSON.parse(event.json).url %>" />
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <label for="location">Location</label>
            <input
              type="text"
              name="location"
              value="<%= JSON.parse(event.json).location %>" />
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <label for="image">Image</label>
            <input
              type="file"
              name="file"
              value="" />
            <div class="preview">
              <img
                src="/uploads/<%= JSON.parse(event.json).file.filename %>"
                alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="subitem">
            <label for="longDescription">Long Description</label>
            <textarea
              id=""
              cols="30"
              rows="10"
              data-tinymce="longDescription"
              name="longDescription">
            <%= JSON.parse(event.json).longDescription %>
            </textarea>
            <script>
              tinymce.init({
                selector: 'textarea[data-tinymce="longDescription"]',
                skin: 'oxide-dark',
                content_css: 'dark',
                height: 500,
              });
            </script>
          </div>
        </div>
        <div class="item flex">
          <div class="subitem">
            <button
              type="submit"
              class="success-btn">
              Save
            </button>
          </div>
          <div class="subitem">
            <button
              type="reset"
              class="danger-btn">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </main>
  </body>

  <script
    src="/js/previewEventImage.js"
    defer></script>
</html>
