<!-- METADATA -->

<!-- Action -->
<% const action = metadata.action %>
<!-- Method -->
<% const method = metadata.method ? metadata.method : 'GET' %>
<!-- Id -->
<% const id = metadata.id ? metadata.id : '' %>
<!-- Enctype -->
<% const enctype = metadata.enctype ? metadata.enctype :
'application/x-www-form-urlencoded' %>

<!-- Set Metadata -->
<form
  class="dashboard-form crud"
  action="<%= action %>"
  data-method="<%= method %>"
  data-id="<%= id %>"
  enctype="<%= enctype %>">
  <!-- Loop Through Fields -->
  <% fields.forEach(field => { %>

  <!-- FIELDS -->

  <!-- Tag -->
  <% const tag = field.tag ? field.tag : 'input' %>
  <!-- Type -->
  <% const type = field.type ? field.type : 'text' %>
  <!-- Name -->
  <% const name = field.name ? field.name : type %>
  <!-- Required -->
  <% const required = field.required ? true : false %>
  <!-- Label -->
  <% const label = field.label ? field.label : name %>
  <!-- Height -->
  <% const height = field.height ? field.height : 300 %>
  <!-- Value -->
  <% const value = field.value ? field.value : '' %>

  <!-- BUILD ITEM -->

  <!-- Input -->
  <% if (tag === 'input') { %>
  <!-- Code Here -->
  <% if (type === 'hidden') { %>
  <!-- Code Here -->
  <input type="hidden" name="<%= name %>" />
  <% } else { %>
  <!-- Code Here -->
  <div class="item">
    <div class="subitem">
      <label for="<%= name %>"><%= label %></label>
      <input type="<%= type %>" name="<%= name %>" value="<%= value %>" <%=
      required ? 'required' : '' %> />

      <!-- Preview div if file input -->
      <% if (type === 'file') { %>
      <!-- Code Here -->
      <div class="preview"></div>
      <% } %>
    </div>
  </div>
  <% } %>
  <!--  -->
  <% } %>

  <!-- Textarea -->
  <% if (tag === 'textarea') { %>
  <!-- Code Here -->
  <div class="item">
    <div class="subitem">
      <label for="<%= name %>"><%= label %></label>
      <textarea name="<%= name %>" data-tinymce="<%= name %>"></textarea>
      <script>
        tinymce.init({
          selector: 'textarea[data-tinymce="<%= name %>"]',
          skin: 'oxide-dark',
          content_css: 'dark',
          height: '<%= height %>',
          plugins: 'link',
          setup: function (editor) {
            editor.on('init', function () {
              editor.setContent('<%- value %>');
            });
          },
        });
      </script>
    </div>
  </div>
  <% } %>

  <!-- End of forEach Loop -->
  <% }) %>

  <!-- Save and Cancel Buttons -->
  <div class="item flex">
    <div class="subitem">
      <button type="submit" class="success-btn">Save</button>
    </div>
    <div class="subitem">
      <button type="reset" class="danger-btn">Cancel</button>
    </div>
  </div>

  <!-- End of form element -->
</form>
